# Byte-compiled / optimized / DLL files
__pycache__/

# MacOS files
*.DS_Store

# Data directory
src/preprocess_lsars/docker-volumes/lsars-data

# But don't ignore .dvc files in data directory
!src/preprocess_lsars/docker-volumes/lsars-data*.dvc

