# Byte-compiled / optimized / DLL files
__pycache__/

# MacOS files
*.DS_Store

# Data directory
src/docker-volumes/lsars-data
src/docker-volumes/google-data

# But don't ignore .dvc files in data directory
!src/docker-volumes/lsars-data*.dvc
!src/docker-volumes/google-data*.dvc

# Model training files
src/train/trainer.tar.gz

# Jupyter files
*.ipynb_checkpoints*

# Docker tag file
src/deployment/.docker-tag
